*{ 
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto Mono',monospace;
    min-height: 600px;

  }
  
  .container {
    margin: auto; 
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
    text-align: center;
    height: 15vh;
    width: 50vh;
    background-color: rosybrown;
  }
  
  .input-real {

  }
  .page-title {
    color: #000000;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
 .page-logo {
    width: 1000px;
  }
  
footer {
text-align: center;
    color: rgb(5, 5, 5);
  }
