body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-color: #000000;
    background-size: 100vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #ffffff;
    margin-bottom: 2rem;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 1000px;
  }
  
  .dev-imersao {
      text-align: center;
    color: white;
  }
