*{ 
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto Mono',monospace;
    min-height: 600px;
  }

div {
    
    background: url("https://i.pinimg.com/originals/ec/eb/79/eceb7990b39fa62d4189f57f2076712f.png")
}
  
.container {
    margin: auto; 
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
    text-align: center;
    height: 20vh;
    width: 70vh;
    background-color: rosybrown;
}
input{
    height: 30px;
    width: 130px;
}
#button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: solid 0.5px;
    border-radius: 5px;
    cursor:pointer;
    padding: 5px;
}

button:hover{
 color: yellow;
}
.to{
    margin-top: 1.2vh;
    color: white;

}
  .page-title {
    color: #000000;
    margin-bottom: 2rem;
    text-align: center;
  }

  .page-subtitle {
    color: #ffffff;
    margin-top: 0.3vh;
  }

footer {
    position: absolute;
    bottom: 0.6vh;
    text-align: center;
    color: rgb(5, 5, 5);
    left: 0;
    right: 0;
  }
